<?php
/**
 * @var $block Ecentura\CustomFieldsCheckout\Block\Adminhtml\Order\View\CustomInfo
 */

$order = $block->getOrder();

?>
<?php if ($order->getDeliveryDate() || $order->getDeliveryComment()): ?>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?= __('Delivery Note')?></span>
    </div>
    <div class="admin__page-section-content" >
        <div class="admin__page-section-item">
            <?php if ($order->getDeliveryComment()): ?>
                <div class="admin__page-section-item-content">
                    <strong><?= __('Delivery date: ') ?></strong>
                    <span><?= $order->getDeliveryDate() ?></span>
                </div>
            <?php endif; ?>
            <?php if ($order->getDeliveryComment()): ?>
                <div class="admin__page-section-item-content" style="margin-top: 10px">
                    <strong><?= __('Note: ') ?></strong>
                    <span><?= $order->getDeliveryComment() ?></span>
                </div>
            <?php endif; ?>
        </div>
    </div>
</section>
<?php endif; ?>
